{"openapi":"3.0.1","info":{"title":"Rocketlane API","description":"Rocketlane API","version":"1.0"},"servers":[{"url":"https://api.rocketlane.com/api","description":"Production"},{"url":"https://api.nitro.run/api","description":"Staging"},{"url":"https://project.api.orbits.run/api","description":"Orbits"}],"security":[{"api-key":["read : write"]}],"tags":[{"name":"Conversations","description":"Endpoints for conversations resource"},{"name":"Invoices","description":"Endpoints for invoices resource"},{"name":"Fields","description":"Endpoints for fields resource"},{"name":"Resource Allocations","description":"Endpoints for resource allocation resource"},{"name":"Time-Offs","description":"Endpoints for time-offs resource"},{"name":"Comments","description":"Endpoints for comments resource"},{"name":"Time Tracking","description":"Endpoints for time entries and timesheets"},{"name":"Space Documents","description":"Endpoints for space tabs resource"},{"name":"Tasks","description":"Endpoints for tasks resource"},{"name":"Projects","description":"Endpoints for projects resource"},{"name":"Phases","description":"Endpoints for phases resource"},{"name":"Users","description":"Endpoints for users resource"},{"name":"Spaces","description":"Endpoints for space resource"}],"paths":{"/1.0/time-entries/{timeEntryId}":{"get":{"tags":["Time Tracking"],"summary":"Get a time entry","description":"This endpoint can be used to get a time entry using its ID. This API returns the time entry object that matches the ID. The `includeFields` param can be used to customise the response.","operationId":"get-time-entry","parameters":[{"name":"timeEntryId","in":"path","description":"The unique, system-generated identifier, which can be used to identify the time entry globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["notes","sourceType","deleted","status","submittedBy","submittedAt","approvedBy","approvedAt","rejectedBy","rejectedAt","costRate","billRate"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeEntryPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Time Tracking"],"summary":"Update a time entry","description":"This endpoint can be used to update a time entry using its ID. To ensure that the total time for all the time entries added for that date does not exceed 24 hours, the fields `date` and `minutes` are mandatory. The properties `activityName`, `notes`, `billable` and `minutes` can be updated using this endPoint. This API returns the updated time entry object.","operationId":"update-time-entry","parameters":[{"name":"timeEntryId","in":"path","description":"The unique, system-generated identifier, which can be used to identify the time entry globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["notes","sourceType","deleted","status","submittedBy","submittedAt","approvedBy","approvedAt","rejectedBy","rejectedAt","costRate","billRate"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeEntryPublicAPIUpdateRequest"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeEntryPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}},"500":{"description":"This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/serverErrorErrorlist"}}}}}},"delete":{"tags":["Time Tracking"],"summary":"Delete a time entry","description":"This endpoint can be used to delete a time entry using its ID. Upon successful deletion, _`HTTP status 204` - no content_ is returned as a response with no response body.","operationId":"delete-time-entry","parameters":[{"name":"timeEntryId","in":"path","description":"The unique, system-generated identifier, which can be used to identify the time entry globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}":{"get":{"tags":["Tasks"],"summary":"Get task by Id","operationId":"get-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated identifier, which can be used to identify the task globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["startDateActual","dueDateActual","type","phase","assignees","followers","dependencies","billable","csatEnabled","priority","timeEntryCategory","financialsBudget","taskPrivateNote","parent","externalReferenceId"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Tasks"],"summary":"Update task by Id","operationId":"update-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["startDateActual","dueDateActual","type","phase","assignees","followers","dependencies","billable","csatEnabled","priority","timeEntryCategory","financialsBudget","taskPrivateNote","parent","externalReferenceId"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicUpdateAPIRequestEntity"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}},"500":{"description":"This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/serverErrorErrorlist"}}}}}},"delete":{"tags":["Tasks"],"summary":"Delete task by Id","operationId":"delete-task","parameters":[{"name":"taskId","in":"path","description":"The ID of the task object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/spaces/{spaceId}":{"get":{"tags":["Spaces"],"summary":"Get space by Id","operationId":"get-space","parameters":[{"name":"spaceId","in":"path","description":"The space's unique, system-generated identifier, which can be used to identify the space globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpacePublicResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Spaces"],"summary":"Update space by Id","operationId":"update-space","parameters":[{"name":"spaceId","in":"path","description":"The space's unique, system-generated identifier, which can be used to identify the space globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpacePublicUpdateAPIRequestEntity"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpacePublicResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"delete":{"tags":["Spaces"],"summary":"Delete space by Id","operationId":"delete-space","parameters":[{"name":"spaceId","in":"path","description":"The space's unique, system-generated identifier, which can be used to identify the space globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/space-documents/{spaceDocumentId}":{"get":{"tags":["Space Documents"],"summary":"Get space document by Id","operationId":"get-space-document","parameters":[{"name":"spaceDocumentId","in":"path","description":"The space document's unique, system-generated identifier, which can be used to identify the space document globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceTabPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Space Documents"],"summary":"Update space document by Id","operationId":"update-space-document","parameters":[{"name":"spaceDocumentId","in":"path","description":"The space document's unique, system-generated identifier, which can be used to identify the space document globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceTabUpdatePublicRequestAPIEntity"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceTabPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"delete":{"tags":["Space Documents"],"summary":"Delete space document by Id","operationId":"delete-space-document","parameters":[{"name":"spaceDocumentId","in":"path","description":"The space document's unique, system-generated identifier, which can be used to identify the space document globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/projects/{projectId}":{"get":{"tags":["Projects"],"summary":"Get project by Id","operationId":"get-project","parameters":[{"name":"projectId","in":"path","description":"The project's unique, system-generated identifier, which can be used to identify the project globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["annualizedRecurringRevenue","projectFee","allocatedHours","allocatedMinutes","budgetedHours","percentageBudgetedHoursConsumed","percentageBudgetConsumed","billableHours","billableMinutes","nonBillableHours","nonBillableMinutes","trackedHours","trackedMinutes","progressPercentage","startDateActual","dueDateActual","currentPhase","autoAllocation","sources","inferredProgress","plannedDuration","projectAgeInDays","customersInvited","customersJoined","externalReferenceId","metrics","remainingMinutes","remainingHours"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Projects"],"summary":"Update project by Id","operationId":"update-project","parameters":[{"name":"projectId","in":"path","description":"The project's unique, system-generated identifier, which can be used to identify the project globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["annualizedRecurringRevenue","projectFee","allocatedHours","allocatedMinutes","budgetedHours","percentageBudgetedHoursConsumed","percentageBudgetConsumed","billableHours","billableMinutes","nonBillableHours","nonBillableMinutes","trackedHours","trackedMinutes","progressPercentage","startDateActual","dueDateActual","currentPhase","autoAllocation","sources","inferredProgress","plannedDuration","projectAgeInDays","customersInvited","customersJoined","externalReferenceId","metrics","remainingMinutes","remainingHours"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectPublicUpdateAPIRequestEntity"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}},"500":{"description":"This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/serverErrorErrorlist"}}}}}},"delete":{"tags":["Projects"],"summary":"Delete project by Id","operationId":"delete-project","parameters":[{"name":"projectId","in":"path","description":"The project's unique, system-generated identifier, which can be used to identify the project globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/phases/{phaseId}":{"get":{"tags":["Phases"],"summary":"Get phase by Id","operationId":"get-phase","parameters":[{"name":"phaseId","in":"path","description":"The `identifier` of the phase is generated by the system and can be used to identify the phase globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["startDateActual","dueDateActual"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhasePublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Phases"],"summary":"Update phase by Id","operationId":"update-phase","parameters":[{"name":"phaseId","in":"path","description":"The `identifier` of the phase is generated by the system and can be used to identify the phase globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["startDateActual","dueDateActual"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhasePublicUpdateAPIRequestEntity"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhasePublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"delete":{"tags":["Phases"],"summary":"Delete phase by Id","operationId":"delete-phase","parameters":[{"name":"phaseId","in":"path","description":"The `identifier` of the phase is generated by the system and can be used to identify the phase globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/fields/{fieldId}":{"get":{"tags":["Fields"],"summary":"Get field by Id","operationId":"get-field","parameters":[{"name":"fieldId","in":"path","description":"The field's unique, system-generated identifier, which can be used to identify the field globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which field properties should be returned in the response body by selecting from the drop down. To get the relevant field properties, use comma separated values. If this field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["options"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the field properties should be returned in the response body. If the field is left blank, the default field properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FieldModelPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Fields"],"summary":"Update field by Id","operationId":"update-field","parameters":[{"name":"fieldId","in":"path","description":"The field's unique, system-generated identifier, which can be used to identify the field globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which field properties should be returned in the response body by selecting from the drop down. To get the relevant field properties, use comma separated values. If this field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["options"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the field properties should be returned in the response body. If the field is left blank, the default field properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FieldUpdatePublicRequest"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FieldModelPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"delete":{"tags":["Fields"],"summary":"Delete field by Id","operationId":"delete-field","parameters":[{"name":"fieldId","in":"path","description":"The field's unique, system-generated identifier, which can be used to identify the field globally.","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string","example":"No Content","default":"No Content"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/conversations/{conversationId}":{"get":{"tags":["Conversations"],"summary":"Get conversation","description":"The Get Conversation API allows users to retrieve the conversation history of a specific project using its unique project ID. This endpoint provides a structured and paginated response containing all messages exchanged within the project's conversation thread. This API is designed to facilitate seamless access to project discussions, enabling teams to track conversations, review past messages, and maintain contextual awareness of discussions related to their projects. It is particularly useful for integrations that need to display or analyze communication history.","operationId":"get-conversation","parameters":[{"name":"conversationId","in":"path","description":"The ID of the conversation object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["members"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Conversations"],"summary":"Update conversation","description":"The Update Conversation API allows users to modify an existing conversation within a specified project using its unique project ID. This endpoint enables updates to message content, metadata, or status, ensuring that project discussions remain accurate and up to date. This API is designed for use cases where message edits, status updates, or other modifications need to be applied to an ongoing project conversation. It is particularly useful for integrations that require real-time collaboration updates, correction of message errors, or status adjustments for read/unread tracking.","operationId":"update-conversation","parameters":[{"name":"conversationId","in":"path","description":"The ID of the conversation object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"Use this query parameter to opt in for fields to be returned in the response body. Use comma separated values to fetch the respective fields. If left blank, default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["members"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationPublicUpdateRequestAPI"}}},"required":true},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"delete":{"tags":["Conversations"],"summary":"Delete conversation","description":"The Delete Conversation API allows users to remove a conversation from a specific project using its unique project ID. This endpoint permanently deletes the conversation and its associated messages, ensuring that project discussions can be managed and maintained according to organizational policies. Upon successful deletion, the API returns an HTTP 204 No Content response, indicating that the conversation has been successfully removed without returning a response body.","operationId":"delete-conversation","parameters":[{"name":"conversationId","in":"path","description":"The ID of the conversation object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/comments/{commentId}":{"get":{"tags":["Comments"],"summary":"Get comment","description":"The Get Comment API allows users to retrieve the details of a specific comment using its unique commentId. This endpoint provides structured data on the comment, including its content, author details, timestamps, and associated project or conversation. This API is particularly useful for applications that need to fetch and display specific comments within a project or conversation thread.","operationId":"get-comment","parameters":[{"name":"commentId","in":"path","description":"The ID of the comment object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["attachments"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"put":{"tags":["Comments"],"summary":"Update comment","description":"The Update Comment API allows users to modify an existing comment within a conversation using its unique commentId. This endpoint enables updates to the comment content, status, or metadata while preserving its original context within the conversation. This API is particularly useful for making corrections, appending additional information, or updating comment visibility.","operationId":"update-comment","parameters":[{"name":"commentId","in":"path","description":"The ID of the comment object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200},{"name":"includeFields","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicUpdateRequestAPIEntity"}}},"required":true},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPublicResponseAPIEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}},"delete":{"tags":["Comments"],"summary":"Delete comment","description":"The Delete Comment API allows users to permanently remove a comment from a conversation using its unique commentId. This endpoint is useful for maintaining conversation hygiene, removing outdated or inappropriate comments, and managing project discussions effectively. Upon successful deletion, the API returns an HTTP 204 No Content response, indicating that the comment has been successfully removed with no response body.","operationId":"delete-comment","parameters":[{"name":"commentId","in":"path","description":"The ID of the message object","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"responses":{"204":{"description":"The resource was successfully removed from the database.","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/time-offs":{"get":{"tags":["Time-Offs"],"summary":"Get all time-offs","operationId":"get-all-timeoffs","parameters":[{"name":"pageSize","in":"query","description":"This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.","schema":{"minimum":0,"type":"number","format":"int32","example":100}},{"name":"pageToken","in":"query","description":"Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.","schema":{"type":"string","example":"59c12a42-dd10-11ed-afa1-0242ac120002"}},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["note","notifyUsers"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","schema":{"type":"boolean","example":true}},{"name":"sortBy","in":"query","description":"You can use the sortBy param to sort the responses by the given field.","schema":{"type":"string","enum":["startDate","endDate","createdAt"]}},{"name":"sortOrder","in":"query","description":"The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.","schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"match","in":"query","description":"You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.","schema":{"type":"string","enum":["all","any"]}},{"name":"startDate.gt","in":"query","description":"Returns responses with start dates greater than the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"startDate.eq","in":"query","description":"Returns responses with start dates equal to the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"startDate.lt","in":"query","description":"Returns responses with start dates lesser than the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"startDate.ge","in":"query","description":"Returns responses with start dates greater than or equal to the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"startDate.le","in":"query","description":"Returns responses with start dates lesser than or equal to the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"endDate.gt","in":"query","description":"Returns responses with start dates greater than the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"endDate.eq","in":"query","description":"Returns responses with start dates equal to the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"endDate.lt","in":"query","description":"Returns responses with start dates lesser than the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"endDate.ge","in":"query","description":"Returns responses with start dates greater than or equal to the specified date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"endDate.le","in":"query","description":"Returns responses with start dates lesser than or equal to the specified date.e.","schema":{"type":"string","example":"2023-03-28"}},{"name":"type.eq","in":"query","description":"Returns responses with time-offs that exactly match the specified time off type.","style":"form","explode":false,"schema":{"maxItems":1,"type":"array","items":{"type":"string","enum":["FULL_DAY","HALF_DAY","CUSTOM"]}}},{"name":"type.oneOf","in":"query","description":"Returns responses with time-offs that matches one of the specified time off type.","style":"form","explode":false,"schema":{"maxItems":3,"type":"array","items":{"type":"string","enum":["FULL_DAY","HALF_DAY","CUSTOM"]}}},{"name":"type.noneOf","in":"query","description":"Returns responses with time-offs that matches none of the specified time off type.","style":"form","explode":false,"schema":{"maxItems":3,"type":"array","items":{"type":"string","enum":["FULL_DAY","HALF_DAY","CUSTOM"]}}},{"name":"userId.eq","in":"query","description":"Returns responses with time-offs that exactly match the specified user id.","schema":{"type":"string","example":1}},{"name":"userId.oneOf","in":"query","description":"Returns responses with time-offs that matches one of the specified user id.","schema":{"type":"string","example":"1,2,3"}},{"name":"userId.noneOf","in":"query","description":"Returns responses with time-offs that matches none of the specified user id.","schema":{"type":"string","example":"1,2"}},{"name":"emailId.eq","in":"query","description":"Returns responses with time-offs that exactly match the specified user's email id.","schema":{"type":"string","example":"dev@rocketlane.com"}},{"name":"emailId.oneOf","in":"query","description":"Returns responses with time-offs that matches one of the specified user's email ids.","schema":{"type":"string","example":"dev@rocketlane.com,support@rocketlane.com"}},{"name":"emailId.noneOf","in":"query","description":"Returns responses with time-offs that matches none of the specified user's email ids.","schema":{"type":"string","example":"test@rocketlane.com,support@rocketlane.com"}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExampleAPIResponseTimeOffs"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}}}},"post":{"tags":["Time-Offs"],"summary":"Create a time-off","operationId":"create-timeoff","parameters":[{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["note","notifyUsers"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeOffPublicAPIRequestEntity"}}}},"responses":{"201":{"description":"The resource was successfully created in the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeOffPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"500":{"description":"This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/serverErrorErrorlist"}}}}}}},"/1.0/time-entries":{"get":{"tags":["Time Tracking"],"summary":"Get all time entries","description":"This endpoint can be used to get all time entries. You can refine your search by adding filters. Filters are given as query parameters and have a defined structure: key is `field.operator` and value is `value`. For instance: `date.gt=2023-02-11`, `minutes.eq=250`. Apart from filters, you can add `sortBy` combined with `sortOrder` to sort the time entries. The response body is paginated and you can control the pagination using the `limit` and `pageToken` parameters.","operationId":"get-all-time-entries","parameters":[{"name":"pageSize","in":"query","description":"This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.","schema":{"minimum":0,"type":"number","format":"int32","example":100}},{"name":"pageToken","in":"query","description":"Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.","schema":{"type":"string","example":"59c12a42-dd10-11ed-afa1-0242ac120002"}},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["notes","sourceType","deleted","status","submittedBy","submittedAt","approvedBy","approvedAt","rejectedBy","rejectedAt","costRate","billRate"]}}},{"name":"sortBy","in":"query","description":"You can use the sortBy param to sort the responses by the given field. Valid fields to perform sortBy are: `MINUTES`, `DATE`, `ID` and `BILLABLE`.","schema":{"type":"string","enum":["minutes","date","id","billable"]}},{"name":"sortOrder","in":"query","description":"The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.","schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"match","in":"query","description":"You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.","schema":{"type":"string","enum":["all","any"]}},{"name":"date.gt","in":"query","description":"You can use this param to specify some date and the responses will contain time-entries whose date are greater than the given date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"date.eq","in":"query","description":"You can use this param to specify some date and the responses will contain exact matches of time-entries that match the given date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"date.lt","in":"query","description":"You can use this param to specify some date and the responses will contain time-entries whose date are less than the given date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"date.ge","in":"query","description":"You can use this param to specify some date and the responses will contain time-entries whose date are greater than or equal to the given date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"date.le","in":"query","description":"You can use this param to specify some date and the responses will contain time-entries whose date are less than or equal to the given date.","schema":{"type":"string","example":"2023-03-28"}},{"name":"project.eq","in":"query","description":"You can use this param to specify some project Id and the responses will contain exact matches of time-entries that match the given project.","deprecated":true,"schema":{"type":"number","example":201}},{"name":"projectId.eq","in":"query","description":"You can use this param to specify some project Id and the responses will contain exact matches of time-entries that match the given project.","schema":{"type":"number","example":201}},{"name":"task.eq","in":"query","description":"You can use this param to specify some task Id and the responses will contain exact matches of time-entries that match the given task.","deprecated":true,"schema":{"type":"number","example":202}},{"name":"taskId.eq","in":"query","description":"You can use this param to specify some task Id and the responses will contain exact matches of time-entries that match the given task.","schema":{"type":"number","example":202}},{"name":"taskId.oneOf","in":"query","description":"You can use this param to provide ids of task and the responses will contain time entries whose time entries that contains the given task ids","schema":{"type":"number","example":202}},{"name":"taskId.noneOf","in":"query","description":"You can use this param to provide ids of task and the responses will contain time entries whose time entries that contains the given task ids","schema":{"type":"number","example":202}},{"name":"projectPhase.eq","in":"query","description":"You can use this param to specify some project phase Id and the responses will contain exact matches of time-entries that match the given phase.","schema":{"type":"number","example":210}},{"name":"category.eq","in":"query","description":"You can use this param to specify some category Id and the responses will contain exact matches of time-entries that match the given category.","schema":{"type":"number","example":5}},{"name":"user.eq","in":"query","description":"You can use this param to specify some user Id and the responses will contain exact matches of time-entries that belong to the user with the given user Id.","schema":{"type":"number","example":5}},{"name":"emailId.eq","in":"query","description":"You can use this param to specify some email Id and the responses will contain exact matches of time-entries that belong to the user with the given email Id.","schema":{"type":"string","example":"john.doe@rocketlane.com"}},{"name":"emailId.cn","in":"query","description":"You can use this param to specify some text and the responses will contain time-entries that contain the given text in their email name.","schema":{"type":"string","example":"john.doe"}},{"name":"emailId.nc","in":"query","description":"You can use this param to specify some text and the responses will contain time-entries that _DO NOT_ contain the given text in their email Id.","schema":{"type":"string","example":"john.doe"}},{"name":"sourceType.eq","in":"query","description":"You can use this param to specify a source type for the time entries and the responses will contain exact matches of time-entries that have the given source type.","schema":{"type":"string","enum":["GOOGLE_CALENDAR","OUTLOOK_CALENDAR","TASK","PROJECT","PHASE","ADHOC","MILESTONE"]}},{"name":"activityName.eq","in":"query","description":"You can use this param to specify some activity name and the responses will contain exact matches of time-entries that match the given activity name.","schema":{"type":"string","example":"Pre-Sales Campaign"}},{"name":"activityName.cn","in":"query","description":"You can use this param to specify some text and the responses will contain time-entries that contain the given text in their activity name.","schema":{"type":"string","example":"Sales"}},{"name":"activityName.nc","in":"query","description":"You can use this param to specify some text and the responses will contain time-entries that _DO NOT_ contain the given text in their activity name.","schema":{"type":"string","example":"Sales"}},{"name":"approvalStatus.eq","in":"query","description":"You can use this param to specify an approval status for the time entries and the responses will contain exact matches of time-entries that have the given approval type.","schema":{"type":"string","enum":["NOT_SUBMITTED","SUBMITTED","APPROVED","REJECTED"]}},{"name":"submittedBy.eq","in":"query","description":"You can use this param to specify a submitter for the time entries and the response will contain time-entries submitted by the given user.","schema":{"type":"number","example":5}},{"name":"submittedAt.eq","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries submitted at the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"submittedAt.gt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries submitted after the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"submittedAt.ge","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries submitted at or after the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"submittedAt.lt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries submitted before the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"submittedAt.le","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries submitted at or before the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"approvedBy.eq","in":"query","description":"You can use this param to specify an approver for the time entries and the response will contain time-entries approved by the given user.","schema":{"type":"number","example":5}},{"name":"approvedAt.eq","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries approved at the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"approvedAt.gt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries approved after the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"approvedAt.ge","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries approved at or after the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"approvedAt.lt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries approved before the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"approvedAt.le","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries approved at or before the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"rejectedBy.eq","in":"query","description":"You can use this param to specify a rejecter for the time entries and the response will contain time-entries rejected by the given user.","schema":{"type":"number","example":5}},{"name":"rejectedAt.eq","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries rejected at the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"rejectedAt.gt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries rejected after the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"rejectedAt.ge","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries rejected at or after the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"rejectedAt.lt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries rejected before the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"rejectedAt.le","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries rejected at or before the given timestamp.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"billable.eq","in":"query","description":"You can use this param to specify the billable flag for the time entries and the responses will contain exact matches of time-entries that have the given billable.","schema":{"type":"boolean","example":true}},{"name":"includeDeleted.eq","in":"query","description":"You can use this parameter to specify whether responses will include the deleted time entries.","schema":{"type":"boolean","example":false}},{"name":"createdAt.gt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than the given time entries created date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"createdAt.eq","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain exact matches of time entries that match the given time entries created date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"createdAt.lt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than the given time entries created date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"createdAt.ge","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than or equal to the given time entries created date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"createdAt.le","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than or equal to the given time entries created date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"updatedAt.gt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than the given time entries updated date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"updatedAt.eq","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain exact matches of time entries that match the given time entries updated date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"updatedAt.lt","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than the given time entries updated date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"updatedAt.ge","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than or equal to the given time entries updated date.","schema":{"type":"integer","format":"int64","example":1625164800000}},{"name":"updatedAt.le","in":"query","description":"You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than or equal to the given time entries updated date.","schema":{"type":"integer","format":"int64","example":1625164800000}}],"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExampleAPIResponseTimeEntries"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}}}},"post":{"tags":["Time Tracking"],"summary":"Create a time entry","description":"This endpoint can be used to create a time entry. It is mandatory to provide values for these three properties: `date`, `minutes` and the source of the time entry, which can be either one of `activityName`, `task`, `projectPhase` or `project`. The `activityName` param can be used to track time against adhoc activities. Providing multiple sources as input will result in an error. This API returns the created time entry object.","operationId":"create-time-entry","parameters":[{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","required":false,"style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["notes","sourceType","deleted","status","submittedBy","submittedAt","approvedBy","approvedAt","rejectedBy","rejectedAt","costRate","billRate"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","required":false,"schema":{"type":"boolean","example":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeEntryPublicAPIRequest"}}}},"responses":{"201":{"description":"The resource was successfully created in the database.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeEntryPublicAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"500":{"description":"This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/serverErrorErrorlist"}}}}}}},"/1.0/tasks/{taskId}/remove-followers":{"post":{"tags":["Tasks"],"summary":"Remove followers from a task by Id","operationId":"remove-followers-from-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAddFollowersPublicRequest"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicAssigneeAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}/remove-dependencies":{"post":{"tags":["Tasks"],"summary":"Remove dependencies from a task by Id","operationId":"remove-dependencies-from-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDependencyPublicAPI"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicDependenciesAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}/remove-assignees":{"post":{"tags":["Tasks"],"summary":"Remove assignees from a task by Id","operationId":"remove-assignees-from-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssigneePublicRequestAPI"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicAssigneeAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}/move-phase":{"post":{"tags":["Tasks"],"summary":"Move a task to the phase by Id","operationId":"move-task-to-given-phase","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovePhasePublicAPI"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicMovePhaseAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}/add-followers":{"post":{"tags":["Tasks"],"summary":"Add followers to a task by Id","operationId":"add-followers-to-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAddFollowersPublicRequest"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicAssigneeAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}/add-dependencies":{"post":{"tags":["Tasks"],"summary":"Add dependencies to a task by Id","operationId":"add-dependencies-to-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDependencyPublicAPI"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicDependenciesAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks/{taskId}/add-assignees":{"post":{"tags":["Tasks"],"summary":"Add assignees to a task by Id","operationId":"add-assignee-to-task","parameters":[{"name":"taskId","in":"path","description":"The task's unique, system-generated **identifier**, which can be used to identify the task globally","required":true,"schema":{"minimum":0,"type":"integer","format":"int64","default":1},"example":200}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskAssigneePublicRequestAPI"}}}},"responses":{"200":{"description":"The requested action was successfully executed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskPublicAssigneeAPIResponseEntity"}}}},"400":{"description":"This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestErrorlist"}}}},"401":{"description":"You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedErrorlist"}}}},"404":{"description":"If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundErrorlist"}}}}}}},"/1.0/tasks":{"get":{"tags":["Tasks"],"summary":"Get all tasks","operationId":"get-all-tasks","parameters":[{"name":"pageSize","in":"query","description":"This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.","schema":{"minimum":0,"type":"number","format":"int32","example":100}},{"name":"pageToken","in":"query","description":"Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.","schema":{"type":"string","example":"59c12a42-dd10-11ed-afa1-0242ac120002"}},{"name":"includeFields","in":"query","description":"This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["startDateActual","dueDateActual","type","phase","assignees","followers","dependencies","billable","csatEnabled","priority","timeEntryCategory","financialsBudget","taskPrivateNote","parent","externalReferenceId"]}}},{"name":"includeAllFields","in":"query","description":"This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.","schema":{"type":"boolean","example":true}},{"name":"sortBy","in":"query","description":"You can use the sortBy param to sort the responses by the given field.","schema":{"type":"string","enum":["taskName","startDate","dueDate","startDateActual","dueDateActual"]}},{"name":"sortOrder","in":"query","description":"The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.","schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"match","in":"query","description":"Yo
[...]
